@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

/* ## Properties and Globals */

/* Properties */
:root {
  /* Layout */
  --card-padding: 1em;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Typography */
  --font-family-sans-serif: "Poppins", sans-serif;
  --font-family-serif: "Lato", serif;
  --font-family-fantasy: 'Metamorphous', cursive;
  --font-family-monospace: 'Roboto Mono', monospace;
  --font-family-handwritten: 'Caveat', cursive;
  
  /* Spectrum */
  --root-color-light: #fff;
  --root-color-dark: #121212;
  --root-color-red: #4d0000;
  --root-color-orange: #ff7f00;
  --root-color-yellow: #ffff00;
  --root-color-green: #004d00;
  --root-color-blue: #001f3f;
  --root-color-indigo: #4b0082;
  --root-color-violet: #8b00ff;
  
  /* Root Colours */
  --text-color: rgba(255, 255, 255, 0.87);
  --background-color: #121212;
  --pre-background-color: #2e2e2e;
  --code-text-color: #b6ade6;
  --article-background-color: #1e1e1e;
  --article-border-color: #444;
  --button-color: #fff;
  --button-background-color: #585858;
  --card-border-color: #646cff;
  --link-color: #646cff;
  --link-background-color: #646cff;
  --link-hover-background-color: #535bf2;
  --link-hover-color: #535bf2;
  --focus-ring-color: rgba(110, 131, 223, 0.5);
}

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

/* ## Base Elements*/

/* Anchor */
a {
  text-decoration: none;
  color: var(--link-color);
  transition: background-color 0.3s ease;
}
a:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  color: var(--link-hover-color);
}
a:focus,
a:focus-visible {
  outline: 4px auto var(--focus-ring-color);
}
a:active {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  color: var(--link-background-color);
}
a:visited {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  color: var(--link-hover-color);
}

/* Body */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-family-sans-serif);
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Button */
button {
  font-family: var(--font-family-fantasy);
  padding: 0 .5rem;
  margin: 0 .25rem;
  min-height: 2em;
  min-width: 2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: var(--button-color);
  background-color: var(--button-background-color);
  transition: border-color 0.25s, background-color 0.3s ease;
} 
button:hover {
  color: var(--text-color);
  background-color: var(--link-hover-color);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--focus-ring-color);
}

/* Blockquote */
blockquote {
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
  background-color: var(--link-hover-color);
  font-family: var(--font-family-serif);
  font-size: 1.2em;

  p {
    font-style: italic;
  }

}

/* Code */
code {
  font-family: var(--font-family-monospace);
  padding: 0 5px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: var(--pre-background-color);
  color: var(--code-text-color);
}

/* Details/Summary styles */
details {
  margin-bottom: 0.75em;
  border: 1px solid var(--article-border-color);
  border-radius: 6px;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.05);
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;

  summary {
    cursor: pointer;
    padding: 0.75em 0.5em;
    font-family: var(--font-family-fantasy);
    font-weight: bold;
    font-size: 1.1em;
    position: relative;
    display: block;
    width: 100%;
    margin: -0.5em;
    margin-bottom: 0;
    border-radius: 5px;
  }

  summary::marker {
    color: var(--card-border-color);
    display: none;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary::before {
    content: "►";
    display: inline-block;
    width: 1em;
    margin-right: 0.5em;
    color: var(--card-border-color);
    transition: transform 0.2s;
  }

  summary:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
details[open] {
  /* width: 90vw; */
  
  summary {
    margin-bottom: 0.5em;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 5px 5px 0 0;
  }

  summary::before {
    content: "▼";
    transform: rotate(0deg);
  }
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--article-background-color);
  text-align: center;
  padding: 0 .5em;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);

  nav menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(2em, 1fr));
    justify-content: center;
    align-items: center;
    gap: .5em;
    list-style: none;
    padding: 0;
    margin: 0;

    a {
      text-decoration: none;
      font-family: var(--font-family-fantasy);
      font-weight: bold;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 0 0.5em;
      border-radius: 5px;
      margin: .5em 0;
      color: var(--text-color);
      background-color: var(--link-background-color);
    }

    a:hover {
      background-color: var(--link-hover-background-color);
      color: var(--code-text-color);
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    }

    a:visited {
      color: var(--code-text-color);
      background-color: var(--link-hover-color);
    }

    button {
      flex: 1; 
      width: 100%;
      height: 100%;
      margin: 0 0 .5rem 0;
      text-align: center;
    }
  }
}

/* Heading */
h1, h2, h3, h4, h5, h6, summary {
  text-align: center;
  font-family: var(--font-family-fantasy);
  font-weight: bold;
}

/* Images */
img {
  max-width: 90vw;
  height: auto;
  margin: 0 auto;
  display: block;
}

/* Input */
input {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid var(--article-border-color);
  color: var(--code-text-color);
  background-color: var(--pre-background-color);
  color-scheme: dark;
}

/* Lists */
li {
  margin: 0 2em;
}
ul {
  list-style: none;
  padding: 0;
}

/* Main */
main {
  flex: 1;
  padding: 1em;
  padding-bottom: 5em;
  overflow-y: auto;
}

/* Menu */
menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(2em, 1fr));
  gap: 0.5em;
  justify-items: center;
  
  li {
    list-style-type: none;
    margin: 0;
  }
}

/* Pre */
pre {
  max-width: 90vw;
  overflow-x: scroll;
}

/* ## Classes */

/* Card */
.card {
  padding: var(--card-padding);
  border: 1px solid var(--card-border-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Mermaid */
.mermaid {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Highlight js */
[class*="language-*"] {
  overflow-x: scroll;
}

/* Written */
p.written {
  font-family: var(--font-family-handwritten);
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  border: 1px solid var(--article-border-color);
  padding: 0.5em;
  color: var(--root-color-dark);
  background-color: var(--root-color-light); 
}

/* Vertical margins for block elements */
p, 
ol, 
ul, 
li,
details {
  margin-top: 1em;
  margin-bottom: 1em;
}
