<menu>
  <details>
    <summary>Menu</summary>
    <li>
      <a href="index.html">
        Home
      </a>
    </li>
      <li>
        <button 
          hx-get="./pages/nodes.html" 
          hx-target="main"
          @click="$store.pagesVisited.nodes = true">
          Choose your Node Adventure
        </button>
      </li>
      <li>
        <button 
          hx-get="./pages/stats.html" 
          hx-target="main"
          @click="$store.pagesVisited.stats = true"
        >
          Abstract Stats
        </button>
      </li>
      <li>
        <button 
          hx-get="./pages/character.html" 
          hx-target="main"
          @click="$store.pagesVisited.character = true"
        >
          Character Composition &amp; Inheritance
        </button>
      </li>
      <li x-show="$store.pagesVisited.all">
        <button
          :disabled="!$store.pagesVisited.all"
          hx-get="./pages/conclusion.html" 
          hx-target="main"
        >
          Conclusion
        </button>
      </li>
      <li>
        <button hx-get="./pages/glossary.html" hx-target="main">
          Glossary
        </button>
      </li>
  </details>
</menu>